.searchWrapper {
  width: 76%;
}
.input {
  position: relative;
  width: 50%;
}

.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid grey;
  padding: 0.85rem 0.5rem;
  color: grey;
  background: transparent;
  border-radius: 5px;
}
.input__label {
  position: absolute;
  left: 0;
  top: -10px;
  padding: 0.375rem 0.25rem;
  margin: 0.375rem 0.25rem;
  background-color: rgb(241, 232, 215);
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;

  color: grey;
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 0.25;
}
